<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-trace-0.log">

	<targets>
		<!-- Configuración para el archivo de texto -->
		<target xsi:type="File" name="fileTarget" fileName="trace-0.log"
				layout="${longdate} ConsultasAPI [${uppercase:${level}}]: ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10:innerFormat=shortType,message,method:separator=--}" />

		<!-- Configuración para la consola con colores -->
		<target xsi:type="ColoredConsole" name="consoleTarget"
				layout="${longdate} ConsultasAPI [${uppercase:${level}}]: ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10:innerFormat=shortType,message,method:separator=--}">
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" backgroundColor="Red" foregroundColor="White" />
		</target>
	</targets>

	<rules>
		<!-- Configuración para escribir en ambos destinos -->
		<logger name="*" minlevel="Info" writeTo="fileTarget,consoleTarget" />
	</rules>
</nlog>